.landing-component-text{
    background-color: #f0f8ff;  /* Helles Blau für den Hintergrund */
    padding: 20px;
    border-radius: 8px;  /* Abgerundete Ecken */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.landing-component-button{
    background-color: #46ff99;  /* Helles Blau für den Hintergrund */
    padding: 20px;
    border-radius: 8px;  /* Abgerundete Ecken */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

